 <script type="text/ng-template" id="myModalContent.html">
 <ion-modal-view>
 	<form>
        <ion-header-bar>
            <div class="padding-horizontal padding-top">
                <h3 class="title">{{menu.menu_name}}</h3>
            </div>
        </ion-header-bar>
        <ion-content>
            <div class="padding"><img class="full-image" ng-src="http://117.102.249.127/inc/upload/{{menu.menu_image}}" style="width:100%;height:auto"/></div>
            <div class="list">
        	    <div class="padding">{{ menu.menu_description | htmlToPlaintext}}</div>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Quantity</span>
                    <input type="text" ng-model="menu.qty" placeholder="Qty" ng-init="menu.qty=1"/>
                </label>
                <button ng-click="addQty()" class="button button-calm">+</button>
                <label class="item item-input">
        	       <textarea ng-model="menu.instructions" placeholder="Special Instructions"></textarea>
                </label>
            </div>

            <div ng-if="menu.size.length>0" class="list">
                <label class="item  item-select select_size">
                    <select ng-model="menu.size_id" name="size_id" class="size_input" required ng-options="sz.size_name for sz in menu.size"></select>
                </label>
            </div>

            <div ng-if="menu.attr.length>0" class="list">
                <label class="item item-input"> Available Additions</label>
                <ion-checkbox ng-repeat="att in menu.attr" name="attr_id" id="checkbox_{{$index}}" ng-model="att.selected" value="{{att.attribute_id}}" type="checkbox"/>
                    <span style="font-size:14px">{{att.attribute_name}} {{att.attribute_price | currency : 'Rp ' : 0}}</span>
                </ion-checkbox>
            </div>

            <div class="padding-horizontal padding-bottom" style="text-align:center;font-weight:bold;font-size:15px;margin-bottom:10px">Total Price: {{total | currency : 'Rp ' : 0}}</div>
            <div class="button-bar">
                <button ng-click="closeModal()" class="button button-calm">Close</button>
            	<button ng-click="addToCart(menu)" class="button button-balanced">Add To Cart</button>
            </div>
         </ion-content>
    </form>
</ion-modal-view>
</script>

<ion-view>

<ion-nav-bar class="navbar" align-title="center">
	<ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-b" style="color:#fff;"> Order</i>
    </ion-nav-back-button>

    <ion-nav-buttons side="right">
        <div style="white-space:nowrap">
            <button class="button-clear" ng-click="toHome()">
                <i class="ion-home icon-header" style="font-size:20px"></i>
            </button>
            <button class="button-clear">
                <i class="ion-star icon-header" style="font-size:20px"></i>
            </button>
        </div>
    </ion-nav-buttons>
</ion-nav-bar>

<ion-content style="background-color:#fff;">

<div class="bar-header">
	<ion-scroll direction="x" style="width:100%;overflow:scroll;white-space:nowrap;height:50px;line-height:50px">
        <div class="nav-cat" ng-repeat="category in menuCategories" ng-class="{active:tab==category.category_id}">
    		<a href="" data-toggle="tab" ng-click="loadMenu(category.category_id)">{{category.category_name}} </a>
    	</div>
	</ion-scroll>
</div>

<div ng-repeat="category in menuCategories" ng-show="tab == category.category_id">
	<div class="list">
		<a ng-repeat="menu in menus" class="item item-thumbnail-left item-text-wrap" href ng-click="openModal(menu.menu_id)" style="min-height:150px">
  		<img ng-src="http://117.102.249.127/inc/upload/{{menu.menu_image}}" alt="{{menu.menu_name}}"/>
      <img ng-show="menu.pork" src="img/pork.png" style="position:absolute;top:100px;left:27px;padding-bottom:20px"/>
			<h3 style="font-weight:bold">{{menu.menu_name}}</h3>
			<p>{{menu.menu_description | htmlToPlaintext}}</p>
		</a>
	</div>
</div>

<div style="height:100px;width:100%"></div>

</ion-content>

<div class="bar bar-subfooter" style="position:fixed;bottom:30px;width:100%">
    <cartcontents></cartcontents>
</div>
</ion-view>
